@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* Configuração do arquivo CSS */

#areaDeJogo {
    display: flex;
    justify-content: center; 
    align-items: center;

    width: 80%;
    height: 100vh;
}

#rotaParaAsNotas {
    display: flex;
    justify-content: center; 
    align-items: flex-end;

    overflow: hidden;
    position: relative;


    width: 828px;
    height: 90vh;
}